<configuration>
	<connectionStrings>
		<add name="ATMdbConnection"
             connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ATMdb.mdf;Integrated Security=True"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
